@model  ERPStandard.ViewModels.Sales.SaleQuotationViewModel
@{
    ViewBag.Title = "Sales Transaction";
    ViewBag.SubTitle = "Quotation";
}
<link rel="stylesheet" href="~/assets/vendors/simple-datatables/style.css">
<script src="~/assets/vendors/simple-datatables/simple-datatables.js"></script>
<script src="~/assets/vendors/fontawesome/all.min.js"></script>
<div class="card-header">
    <h4 class="card-title">@ViewBag.SubTitle List</h4>
</div>
<div class="card-body">
    <button class="btn-primary"  title="Print List" onclick="previewReport()"><i class="fa fa-print"></i></button>
    <button type="button" class="btn-success"  title="Excel List" onclick="location.href='@Url.Action("MasterDetailExcelExport", "Salequotation")'"><i class='fa fa-file-excel'></i></button>
    <button class="btn-danger" onclick="previewReport()" title="Import"><i class="fa fa-file-import"></i></button>
    @*<button class="btn-success" onclick="QutatonDetailExcel()"><i class="fa fa-file-excel"></i></button>*@


    <div class="dataTable-wrapper dataTable-loading no-footer sortable searchable fixed-columns">
        <div class="dataTable-top">
            <div class="dataTable-dropdown"><select class="dataTable-selector form-select" id="ddlTotalPageNo" onchange="getPageValue()"><option value="5" @(Model.Pager.PageSize == 5 ? "selected=''" : "")>5</option><option value="10" @(Model.Pager.PageSize == 10 ? "selected=''" : "")>10</option><option value="15" @(Model.Pager.PageSize == 15 ? "selected=''" : "")>15</option><option value="20" @(Model.Pager.PageSize == 20 ? "selected=''" : "")>20</option><option value="25" @(Model.Pager.PageSize == 25 ? "selected=''" : "")>25</option></select><label>entries per page</label></div>
            <div class="dataTable-search">
                <input id="dtSearch" onkeypress="getSearchRecords(event)" class="dataTable-input" placeholder="Search..." type="text" value="@Model.dtSearch">
            </div>
        </div>

        <div class="dataTable-container">
            <table class="table table-striped dataTable-table" id="tblQuotationMaster">
                <thead>
                    <tr class="btn-primary">
                        <th data-sortable="" class=@(Model.clmNameOrder == 1 ? Model.sortorder : "")><a href="javascript:;" onclick="DataTableOrder(1, '@Model.sortorder')" class="dataTable-sorter" id="clm1">No</a></th>
                        <th data-sortable="" class=@(Model.clmNameOrder == 2 ? Model.sortorder : "")><a href="javascript:;" onclick="DataTableOrder(2, '@Model.sortorder')" class="dataTable-sorter" id="clm2">Date</a></th>
                        <th data-sortable="" class=@(Model.clmNameOrder == 3 ? Model.sortorder : "")><a href="javascript:;" onclick="DataTableOrder(3, '@Model.sortorder')" class="dataTable-sorter" id="clm3">Valid Date</a></th>
                        <th data-sortable="" class=@(Model.clmNameOrder == 4 ? Model.sortorder : "")><a href="javascript:;" onclick="DataTableOrder(4, '@Model.sortorder')" class="dataTable-sorter" id="clm4">Customer</a></th>
                        <th data-sortable="" class=@(Model.clmNameOrder == 5 ? Model.sortorder : "")><a href="javascript:;" onclick="DataTableOrder(5, '@Model.sortorder')" class="dataTable-sorter" id="clm5">Sales Person</a></th>
                        <th data-sortable="" class=@(Model.clmNameOrder == 6 ? Model.sortorder : "")><a href="javascript:;" onclick="DataTableOrder(6, '@Model.sortorder')" class="dataTable-sorter" id="clm6">Remarks</a></th>
                        <th data-sortable=""><a href="javascript:;" class="dataTable-sorter">Action</a></th>
                    </tr>
                </thead>
                <tbody>

                    @{
                        if (Model != null)
                        {
                            foreach (var comp in Model.SaleQuotation)
                            {
                                <tr>
                                    <td>@comp.QuoteNo</td>
                                    <td>@comp.QuoteDate.ToString("dd-MMM-yyyy")</td>
                                    <td>@comp.QuoteValidDate.ToString("dd-MMM-yyyy")</td>
                                    <td>@comp.CustomerName</td>
                                    <td>@comp.SalesManName</td>
                                    <td>@comp.Remarks</td>
                                    <td>
                                        <div class="btn-group btn-group-sm" role="group">
                                            @{
                                                if (comp.DeletionID == 0)
                                                {
                                                    <button type="button" class="btn-outline-success" onclick="generateInvPDFFormat2('@comp.QuoteId')" title="Print"><i class="fa fa-print"></i></button>
                                                }
                                                else
                                                {
                                                    <button type="button" class="btn-outline-danger" onclick="generateInvPDFFormat2('@comp.QuoteId')" title="Print"><i class="fa fa-print"></i></button>
                                                }

                                            }
                                            <button type="button" class="btn-outline-success" onclick="onEdit('@comp.QuoteId')" title="Edit"><i class="fa fa-pen"></i></button>
                                            <button type="button" class="btn-outline-danger" onclick="onDelete('@comp.QuoteId')" title="Delete"><i class="fa fa-trash"></i></button>
                                        </div>
                                    </td>
                                </tr>
                            }
                        }
                    }
                </tbody>
            </table>

        </div>

        <div class="dataTable-bottom">
            <div class="dataTable-info">
                @if (Model.Pager.CurrentPage == Model.Pager.EndPage)
                {
                    <p>Showing @((Model.Pager.CurrentPage * Model.Pager.PageSize)- Model.Pager.PageSize+1) to @(Model.Pager.TotalItems) of @(Model.Pager.TotalItems) entries</p>
                }
                else if (Model.Pager.CurrentPage < Model.Pager.TotalPages)
                {
                    <p>Showing @((Model.Pager.CurrentPage * Model.Pager.PageSize)- Model.Pager.PageSize+1)  to @(Model.Pager.PageSize * Model.Pager.CurrentPage) of @(Model.Pager.TotalItems)entries</p>
                }
                else
                {
                }


            </div>

            <!-- pager -->
            @if (Model.Pager.EndPage > 1)
            {

                <ul class="pagination pagination-primary float-end dataTable-pagination">
                    @if (Model.Pager.CurrentPage > 1)
                    {
                        <li class="page-item pager">
                            <a href="#" onclick="pagingwork('@(Model.Pager.CurrentPage - 1)')" class="page-link">‹</a>
                        </li>
                    }

                    @for (var page = Model.Pager.StartPage; page <= Model.Pager.EndPage; page++)
                    {
                        <li class="page-item @(page == Model.Pager.CurrentPage ? "active" : "")">
                            <a href="#" onclick="pagingwork('@page')" class="page-link">@page</a>
                        </li>
                    }

                    @if (Model.Pager.CurrentPage < Model.Pager.TotalPages)
                    {
                        <li class="page-item pager">
                            <a href="#" onclick="pagingwork('@(Model.Pager.CurrentPage + 1)')" class="page-link">›</a>
                        </li>
                    }
                </ul>
            }
        </div>

        <!-- End Pagination -->
    </div>

</div>
<script>
    // Simple Datatable
    let tbl = document.querySelector('#tblQuotationMaster');
    let dataTable = new simpleDatatables.DataTable(tbl);
</script>
<!--Try new table look-->
